.LandingCard {
  overflow: hidden;
  color: black;
  cursor: pointer;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 20px auto;
  transition: all 0.25s ease-in-out;
}
.card-body {
  max-height: 130px;
  min-height: 130px;
}
.widthCard {
  width: 20rem;
}

@media screen and (max-width: 575) {
  .widthCard {
    width: 25rem;
  }
}

@media screen and (min-width: 576px) {
  .widthCard {
    width: 15rem;
  }
}
@media screen and (min-width: 768px) {
  .widthCard {
    width: 18rem;
  }
}

@media screen and (min-width: 991px) {
  .widthCard {
    width: 14rem;
  }
}

@media screen and (min-width: 1200px) {
  .widthCard {
    width: 18rem;
  }
}
.card-text,
.card-title {
  text-decoration: none;
  color: black;
}
