.login {
  background-image: url('../../assets/login-bg.webp');
  height: 100vh;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .login {
    background-position-y: top;
    background-position-x: 25%;
    background-size: 400%;
  }
}
