.edit-profile {
  min-height: 100vh;
  width: 100%;
}

.social-inputs {
  max-height: 0;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  display: block;
  overflow: hidden;
  opacity: 0;
}

.social-inputs.show {
  max-height: 300px;
  opacity: 1;
}
