@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@font-face {
  font-family: 'Nunito Sans';
  src: url('https://fonts.googleapis.com/css?family=Open+Sans');
}

html,
body {
  overflow: auto;
  max-width: 100%;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
  font-family: 'Open Sans';
}

img {
  max-width: 100%;
  height: auto;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#map {
  background-color: black !important;
}

.main-image-template {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: auto;
  width: 100%;
  animation: fadein 0.7s;
  -moz-animation: fadein 0.7s;
  -webkit-animation: fadein 0.7s;
  -o-animation: fadein 0.7s;
}

.mt-150 {
  margin-top: 150px;
}

.mb-50 {
  margin-bottom: 50px;
}

.bg-blue,
.bg-blue:focus,
.bg-blue:active {
  outline: 0;
  box-shadow: none;
  background-color: #3f51b5;
  border-color: #3f51b5;
}

.light-overlay {
  background-color: rgba(15, 15, 15, 0.425);
  min-height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
}
#canvas {
  width: 10px;
  height: 10px;
}

.card-template {
  overflow: hidden;
  color: black;
  cursor: pointer;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 20px auto;
  transition: all 0.25s ease-in-out;
}

.widthCard {
  width: 20rem;
}

@media screen and (max-width: 575) {
  .widthCard {
    width: 25rem;
  }
}

@media screen and (min-width: 576px) {
  .widthCard {
    width: 15rem;
  }
}
@media screen and (min-width: 768px) {
  .widthCard {
    width: 18rem;
  }
}

@media screen and (min-width: 991px) {
  .widthCard {
    width: 14rem;
  }
}

@media screen and (min-width: 1200px) {
  .widthCard {
    width: 18rem;
  }
}
