@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@font-face {
  font-family: 'Nunito Sans';
  src: url('https://fonts.googleapis.com/css?family=Open+Sans');
}

html,
body {
  overflow: auto;
  max-width: 100%;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
  font-family: 'Open Sans';
}

img {
  max-width: 100%;
  height: auto;
}
.centerImg {
  margin-top: 12%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 100%;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.pad-x {
  padding-right: 0px;
  padding-left: 0px;
}
#map {
  background-color: black !important;
}
#map_canvas {
  height: 400px;
  width: 500px;
}
#myCanvas {
  background-color: black;
  height: 100px;
  width: 100px;
}
.content {
  margin-top: -50px;
}

.main-image-template {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: auto;
  width: 100%;
  animation: fadein 0.7s;
  -moz-animation: fadein 0.7s;
  -webkit-animation: fadein 0.7s;
  -o-animation: fadein 0.7s;
}

.booked-runs {
  overflow-y: hidden;
  background-image: url('./assets/booking-run-bg.jpg');
  height: 100vh;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .booked-runs {
    background-position-y: top;
    background-position-x: 70%;
    background-size: 300%;
  }
}

.cn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}
.mt-150 {
  margin-top: 150px;
}
.mt-100 {
  margin-top: 100px;
}
.mb-50 {
  margin-bottom: 50px;
}

.bg-blue,
.bg-blue:focus,
.bg-blue:active {
  outline: 0;
  box-shadow: none;
  background-color: #3f51b5;
  border-color: #3f51b5;
}

.light-overlay {
  background-color: rgba(15, 15, 15, 0.425);
  min-height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
}
#canvas {
  width: 10px;
  height: 10px;
}

.card-template {
  overflow: hidden;
  color: black;
  cursor: pointer;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 20px auto;
  transition: all 0.25s ease-in-out;
}

tr:nth-child(n + 4):nth-child(-n + 7) > th:nth-child(n + 5):nth-child(-n + 6),
tr:nth-child(n + 5):nth-child(-n + 7) > th:nth-child(n + 4):nth-child(-n + 7),
tr:nth-child(n + 6):nth-child(-n + 7) > th:nth-child(n + 3):nth-child(-n + 8),
tr:nth-child(n + 7):nth-child(-n + 7) > th:nth-child(n + 2):nth-child(-n + 9) {
  background-color: #3d6bce;
}
.Math-sqrt {
  display: inline;
}
.Math-sqrt::after {
  content: '\221A';
}
.Math-sqrt:hover {
  visibility: hidden;
}

.fontSize {
  font-size: 40px;
}

.widthCard {
  width: 20rem;
}

@media screen and (max-width: 575) {
  .widthCard {
    width: 25rem;
  }
}

@media screen and (min-width: 576px) {
  .widthCard {
    width: 15rem;
  }
}
@media screen and (min-width: 768px) {
  .widthCard {
    width: 18rem;
  }
}

@media screen and (min-width: 991px) {
  .widthCard {
    width: 14rem;
  }
}

@media screen and (min-width: 1200px) {
  .widthCard {
    width: 18rem;
  }
}
