#add-run {
  margin-top: 50px;
  width: 100%;

  /* background-position: center center; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* height: 100%; */
  /* overflow: auto; */
  /* position: fixed; */
  /* width: 100%;
  animation: fadein 0.7s;
  -moz-animation: fadein 0.7s;
  -webkit-animation: fadein 0.7s;
  -o-animation: fadein 0.7s; */
}
.add-run-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)),
    url('../../../../img/bg10.jpg');
}

@media screen and (max-width: 767px) {
  .header-text {
    font-size: 2em;
    text-align: center;
  }
  .sub-header-text {
    font-size: 1em;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .header-text {
    font-size: 1.9em;
    text-align: center;
  }
  .sub-header-text {
    font-size: 1em;
    text-align: center;
  }
}

@media screen and (min-width: 992px) {
  .header-text {
    font-size: 2.4em;
    text-align: center;
  }
  .sub-header-text {
    font-size: 1em;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .header-text {
    font-size: 2.5em;
    text-align: center;
  }
  .sub-header-text {
    font-size: 1.3em;
    text-align: center;
  }
}
